.gridContainer {
    display: flex;
    flex-direction: row;
}

.rowContainer {
    display: flex;
    flex-direction: column;
}

.pixel {
    width: 5px;
    height: 5px;
    background-color: red;
    opacity: 0;
}

#new-button {
    font-size: 26px;
}

